<!-- botones flotantes para redes sociales -->

<!-- aqui va el codigo de los botones flotantes -->
<div class="contenedor">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="http://www.facebook.com/" target="_blank" class="icon-social-facebook icons"></a>
        <a href="http://www.youtube.com/" target="_blank" class="icon-social-youtube icons"></a>
        <a href="http://www.instagram.com/" target="_blank" class="icon-social-instagram icons"></a>
        <a href="http://www.twitter.com/" target="_blank" class="icon-social-twitter icons"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="icon-options-vertical icons">

</label>
    </div>
</div>

<!-- cabecera pagina -->
<section class="section section-height-4 border-0 m-0 section-overlay-opacity section-overlay-opacity-scale-3" style="
    background-image:url(assets/img/moncada/banner/historiaaccion.jpg);
    background-size: cover;
    background-position: center;
">
    <div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
        <div class="row justify-content-end pt-1 mt-lg-5">

        </div>
    </div>
</section>


<!-- intro de historia-->

<section class="section section-no-border pt-0 pb-5 m-0 callout-dark heading-title heading-arrow-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center offset-lg-1">
                <h3 class="mb-0">Biblioteca</h3>
                <h4 class="text-primary text-5">26 DE JULIO DE 1953 </h4>
            </div>
        </div>
    </div>
</section>

<!-- seccion tabs de historia-->
<!--slides tabs otra variante para la seccion de las salas -->
<section class="section  border-0 callout-blanco heading-title heading-arrow3-bottom  margen-superior">
    <div class="container">


        <div class="row pb-5">
            <div class="col-lg-9 text-left mb-4">
                <h5>Sitio en construcción</h5>
            </div>


        </div>

        <!--fin del row  -->
    </div>
    <!--fin del container  -->
</section>