<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <div id="main-wrapper"> -->


<!--app-sidebar></app-sidebar-->

<!-- </div> -->

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- <div class="loader-wrap">
        <div class="preloader style-two"></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div> -->

    <!--div class="container-fluid"-->

    <app-header></app-header>
    <!--app-breadcrumbs></app-breadcrumbs-->

    <router-outlet></router-outlet>

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!--
             <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        Hola Mundo .
                    </div>
                </div>
            </div>
        </div> 
       -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->



    <!--/div-->

    <app-footer></app-footer>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>



<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->