<!-- botones flotantes para redes sociales -->

<!-- aqui va el codigo de los botones flotantes -->
<div class="contenedor">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="http://www.facebook.com/" target="_blank" class="icon-social-facebook icons"></a>
        <a href="http://www.youtube.com/" target="_blank" class="icon-social-youtube icons"></a>
        <a href="http://www.instagram.com/" target="_blank" class="icon-social-instagram icons"></a>
        <a href="http://www.twitter.com/" target="_blank" class="icon-social-twitter icons"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="icon-options-vertical icons">

</label>
    </div>
</div>

<!-- cabecera pagina -->
<section class="section section-height-4 border-0 m-0 section-overlay-opacity section-overlay-opacity-scale-3" style="background-image:url(assets/img/moncada/banner/salas.jpg)">
    <div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
        <div class="row justify-content-end pt-1 mt-lg-5">

        </div>
    </div>
</section>

<!-- intro de historia-->

<section class="section section-no-border pt-0 pb-5 m-0 callout-dark heading-title heading-arrow-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center offset-lg-1">
                <h3 class="mb-0">SALAS DEL MUSEO</h3>
            </div>
        </div>
    </div>
</section>


<!--        <section class="section callout-dark heading-title heading-arrow-bottom section-no-border section-dark m-0 ">
					<div class="container">
						<div class="row align-items-center pt-3">
							<div class="col-lg-6">
                                <div class="testimonial testimonial-style-2">
                                    <blockquote>
                                        <p align="justify-content" class="mb-0" style="font-size: 15pt !important; line-height: 25px;">"Nadie debe preocuparse de que lo acusen de ser autor intelectual de la revolución porque el único autor intelectual del asalto al cuartel Moncada es José Martí, el Apóstol de nuestra independencia."</p>
                                    </blockquote>
                                    <div >
                                        <p>Fidel Castro Ruz</p>
                                    </div>
                                    <div >
                                        <p>21 de septiembre de 1953 en el juicio del Moncada</p>
                                    </div>

                                </div>
    
							</div>
							<div class="col-lg-6">
								<div >
                                    <img src="assets/img/moncada/salas/sala1/pared.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
						</div>
					</div>
				</section>-->


<section class="section border-0 callout-blanco heading-title heading-arrow3-bottom ">
    <div class="container margen-superior margen-inferior">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-left mb-4">
                <h5 class="mb-3">Sala 1: "Doctrinas del Maestro"</h5>
                <h4 class="mb-3" style="color: #000;">José Martí en la Generación del Centenario. </h4>
            </div>

            <div class="owl-carousel owl-theme nav-bottom" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">

                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 p-0">
                        <div class="h-400px m-0" style="background-color: #000 ;">
                            <div class="row m-0">
                                <div class="col-half-section col-half-section-right py-5 ms-auto">
                                    <div class="p-3">
                                        <p class="mb-4 text-light" style="font-size: 20pt;">"Nadie debe preocuparse de que lo acusen de ser autor intelectual de la revolución porque el único autor intelectual del asalto al cuartel Moncada es José Martí, el Apóstol de nuestra independencia."</p>
                                        <div class="pt-4">
                                            <p class="mb-2 text-light">Fidel Castro Ruz</p>
                                            <p class="mb-2 text-light">21 de septiembre de 1953 en el juicio del Moncada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 p-0">
                        <section class="parallax section section-background bg-size-cover h-400px m-0" style="background-image: url(assets/img/moncada/salas/sala1/pared1.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="content-area">
                            <p>José Julián Martí Pérez (1853-1895) Héroe nacional de Cuba. Político, escritor, poeta, periodista, orador. Sufrió prisión y destierro a los diecisiete años de edad por sus ideas independentista. Vivió en España, México, Guatemala
                                y Venezuela en el año 1881 se estableció definitivamente en los Estados Unidos donde preparó lo que él llamó “la guerra necesaria” para lograr la independencia de Cuba, proceso que lideró por su gran talento. </p>

                            <p> El 11 de abril de 1895 desembarca en Cuba para incorporarse a la lucha armada. Su pensamiento es fuente nutricia del patriotismo, el latinoamericanismo, el antimperialismo y el antirracismo que forman parte de la cultura política
                                del pueblo cubano. El 19 de mayo de 1895 cae en combate. </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img class="img-fluid rounded-0" src="assets/img/moncada/salas/sala1/retratomarti1.jpg" alt="" />
                            <p>Retrato de Martí</p>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-area">
                            <p>En la sala se exhibe un chaleco original utilizado por José Martí, el que dejó olvidado en una de sus visitas a Haití en 1892, durante los preparativos de la Guerra de Independencia de 1895, la prenda quedó bajo el cuidado
                                de la familia de Tranquilino Callejas, cuyos descendientes la trajeron a Cuba y con posterioridad decidieron donarla, se expone en el museo desde 1998. </p>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img class="img-fluid rounded-0" src="assets/img/moncada/salas/sala1/chaleco1.jpg" alt="" />
                            <p>Chaleco de Martí</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class=" col-lg-6 ">
                        <div class="content-area">
                            <p>El 26 de julio del 1953, un grupo de jóvenes encabezados por Fidel Castro, se inspiraron en las ideas independentistas de Jose´Martí y atacaron el cuartel Moncada, después de los sucesos, el joven abogado Fidel Castro fue sometido
                                a un proceso judicial iniciado el 21 de septiembre del 1953, donde destacó el compromiso con la historia de Cuba, sus héroes y mártires y en especial destacó al héroe nacional a quien declaró de forma pública en el alegato
                                de autodefensa La Historia me Absolverá, como el autor intelectual de la acción al expresar: “Parecía que el Apóstol iba a morir en el año de su centenario”. </p>
                            <p>Esta frase aparece en la parte inferior del relieve en bronce realizado por el escultor, pintor y dibujante santiaguero Alberto Lescay Merencio en el año 1990, en los talleres de la Fundación Caguayo. La imagen de José Martí,
                                se convierte en el anfitrión del recorrido por el museo, para los visitantes interesados en conocer la historia que atesora el antiguo Cuartel Moncada .Un código QR desde la obra de arte, permite acceder a otras informaciones
                                relevantes sobre el artista y de los momentos históricos de la institución donde el relieve fue captado por el lente de importantes fotógrafos. </p>
                        </div>


                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img class="img-fluid rounded-0" src="assets/img/moncada/salas/sala1/asaltantes.jpg" alt="" />
                            <p>Asaltantes</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</section>

<!-- fin seccion contacto -->


<!-- fin otra informacion de la sala-->

<!-- seccion galeria de imagenes-->

<!-- fin seccion galeria de imagenes-->


<!-- galeria de videos del moncada-->
<section class="callout-rojo3 heading-title heading-arrowb-bottom ">

    <div class="container ">

        <!-- seccion de la galeria de imagenes del moncada-->

        <div id="ourHistoryLightbox" class="mfp-hide">
            <div class="thumb-gallery">
                <div class="owl-carousel owl-theme manual thumb-gallery-detail" id="thumbGalleryDetail">
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala1/1700x956/retrato.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala1/1700x956/chaleco.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala1/1700x956/1.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala1/1700x956/2.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala1/1700x956/3.jpg" class="img-fluid">
										</span>
                    </div>
                </div>
                <div class="owl-carousel owl-theme manual thumb-gallery-thumbs show-thumbs mt" id="thumbGalleryThumbs">
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala1/230x230/retrato.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala1/230x230/chaleco.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala1/230x230/1.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala1/230x230/2.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala1/230x230/3.jpg" class="img-fluid">
										</span>
                    </div>
                </div>
            </div>
        </div>

        <section class="section bg-transparent border-0  p-relative overflow-hidden margen-superior">
            <div class="container pb-5 mb-3">
                <div class="row mb-2">
                    <div class="col text-left">
                        <h5 class="mb-2 ">Galería de imágenes de la sala</h5>
                        <p>Una visión de nuestra historia a través de las imágenes. .</p>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-sm-6 mb-4 col-lg-3">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala1/480x270/retrato.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3 mb-4">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala1/480x270/chaleco.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala1/480x270/1.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala1/480x270/2.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>

                </div>
            </div>
        </section>





    </div>

</section>


<!-- fin planta de la sala-->






<!--  paseo virtual -->

<section class="section bg-transparent border-0 margen-inferior margen-superior p-relative overflow-hidden">
    <div class="container ">
        <div class="row">
            <div class="col text-left">
                <h5>Paseo virtual</h5>
                <p>Seleccione una de las salas. No deje de vivir la experiencia de recorrer virtualmente nuestro museo. </p>
            </div>
        </div>
        <div class="row">

            <div class="image-hotspots">
                <img src="assets/img/moncada/salas/planosalas.jpg" class="img-fluid" />

                <a [routerLink]="['../', 'sala1']" style="left: 70%; top: 55%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-animation="false" data-bs-placement="top" data-bs-content="Sala1: &quot;Doctrinas del maestro&quot;"
                    tabindex="0">
                    <strong>1</strong>
                </a>

                <a [routerLink]="['../', 'sala2']" style="left: 55%; top: 55%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 2: &quot;La fortaleza militar&quot;"
                    tabindex="0">
                    <strong>2</strong>
                </a>

                <a [routerLink]="['../', 'sala3']" style="left: 38%; top: 55%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 3: &quot;Los preparativos del asalto&quot;"
                    tabindex="0">
                    <strong>3</strong>
                </a>

                <a [routerLink]="['../', 'sala4']" style="left: 23%; top: 59%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 4:&quot;El asalto;" tabindex="0">
                    <strong>4</strong>
                </a>
                <a [routerLink]="['../', 'sala5']" style="left: 42%; top: 76%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 5: &quot;La historia me absolverá&quot;"
                    tabindex="0">
                    <strong>5</strong>
                </a>

                <a [routerLink]="['../', 'sala6']" style="left: 58%; top: 76%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 6: &quot;Victoria de un ideal&quot;"
                    tabindex="0">
                    <strong>6</strong>
                </a>

                <a [routerLink]="['../', 'salaexpo']" style="left: 40%; top: 37%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 7: &quot;Sala 7: Las ideas no se matan&quot;"
                    tabindex="0">
                    <strong>7</strong>
                </a>
                <a [routerLink]="['../', 'sala7']" style="left: 12%; top: 68%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 8: &quot;La Repreción Batistiana&quot;"
                    tabindex="0">
                    <strong>8</strong>
                </a>


            </div>


        </div>





    </div>
</section>


<!-- fin paseo virtual -->