<!--p>boveda works!</p-->

<!-- Hidden Sidebar -->

<!-- Page Title -->
<section class="page-title" style="background-image:url(../assets/images/moncada/bannerhistoria.jpg)">
    <div class="auto-container">
        <div class="content-box">
            <h1>Bóveda</h1>
        </div>
    </div>
</section>


<div class="sidebar-page-container cause-details">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-12 content-column">
                <div class="sec-title text-center">
                    <h1>BÓVEDA</h1>
                    <div class="text">Interactúe con los objetos donde tendrá una experiencia real en formato 3d.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sección galeria de objetos -->


<!-- start services -->
<!-- end services -->



<!-- About me -->
<section class="fh5co-about-me">
    <div class="about-me-inner site-container">


        <article class="portfolio-wrapper">

            <div class="gallery-block-three">
                <div class="inner-box">
                    <div class="image-one">
                        <img src="../assets/images/moncada/ametralladora.jpg" class="about-me__profile" alt="">
                        <div class="overlay">
                            <a data-fancybox="example gallery" href="../assets/images/moncada/ametralladora.gif" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="portfolio__bottom">
                <div class="portfolio__name">
                    <h2>Muestra del mes</h2>
                </div>

            </div>
        </article>

        <div class="about-me__text">

            <h2 class="universal-h2 universal-h2-bckg">Ametralladora pesada Browning BMG M-2HB</h2>


            <p align="justify">Descripción completa del objeto a mostrar...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        </div>
    </div>
    <div class="about-me-bckg"></div>
</section>
<!-- About me end -->



<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="sec-bg-one" style="background-image: url(../assets/images/moncada/monc.jpg);"></div>
    <div class="sec-bg-two" style="background-image: url(../assets/images/moncada/monc.jpg);"></div>
    <div class="auto-container">
        <div class="row align-items-lg-center justify-content-lg-between">
            <div class="col-lg-12">
                <div class="testimonial-carousel-wrapper">


                    <div class="row">
                        <div class="col col-xs-12">
                            <div class="row service-s2-top">
                                <div class="col col-xs-12 service-s2-tab">
                                    <!-- Nav tabs -->
                                    <ul class="tablinks">
                                        <li class="active">
                                            <a href="#tab-1" data-toggle="tab">01 <span>Bustos</span></a>
                                        </li>
                                        <li>
                                            <a href="#tab-2" data-toggle="tab">02 <span>Armas</span></a>
                                        </li>
                                        <li>
                                            <a href="#tab-3" data-toggle="tab">03<span>Equipos</span></a>
                                        </li>
                                        <li>
                                            <a href="#tab-4" data-toggle="tab">04<span>Otros objetos</span></a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane in active" id="tab-1">

                                            <div class="details">

                                                <section class="gallery-section-four">

                                                    <div class="auto-container">
                                                        <div class="row">
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/busto.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/busto.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/busto.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/busto.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/busto.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/busto.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/busto.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/busto.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- End block -->
                                                        </div>
                                                    </div>
                                                </section>


                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="tab-2">

                                            <div class="details">

                                                <section class="gallery-section-four">

                                                    <div class="auto-container">
                                                        <div class="row">
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/pistola-fidel.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/pistola-fidel.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <!-- End block -->
                                                        </div>
                                                    </div>
                                                </section>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="tab-3">

                                            <div class="details">

                                                <section class="gallery-section-four">

                                                    <div class="auto-container">
                                                        <div class="row">
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- End block -->
                                                        </div>
                                                    </div>
                                                </section>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="tab-4">

                                            <div class="details">

                                                <section class="gallery-section-four">

                                                    <div class="auto-container">
                                                        <div class="row">
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <div class="col-lg-3 col-md-3 gallery-block-four">
                                                                <div class="inner-box">
                                                                    <div class="image">
                                                                        <img src="../assets/images/moncada/objetos.jpg" alt="">
                                                                        <div class="overlay">
                                                                            <a data-fancybox="example gallery" href="../assets/images/moncada/objetos.jpg" class="zoom-btn"><span class="flaticon-more-1"></span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption-title">
                                                                        <h5><a href="#">Título</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- Portfolio Block Two -->
                                                            <!-- End block -->
                                                        </div>
                                                    </div>
                                                </section>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end service-s2-tab -->
                            </div>
                            <!-- end service-s2-top -->

                        </div>
                    </div>



                    <!--          <div class="single-item-carousel owl-carousel owl-theme">
                            <div class="testimonial-block-one">
                                <div class="inner-box">
                                    <div class="author-box">
                                        <div class="author-info">
                                            <div class="image"><img src="images/resource/client-thumb-1.jpg" alt=""></div>
                                            <div class="author-title">Isaac Samuel</div>
                                            <div class="designation">CEO & Founder <a href="#">Budget Fin</a></div>
                                            <div class="logo"><img src="images/clients/client-6.html" alt=""></div>
                                        </div>                                            
                                    </div>
                                    <div class="content-box">
                                        <h4>It’s helped me so much. Now I can <br>really get around office.</h4>
                                        <div class="text">Goodsoul! is focused and disciplined in their approach with proven track record of delivering measurable change. Always we support them people.</div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                        </div>
                                        <div class="quote"><span class="flaticon-quote"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-one">
                                <div class="inner-box">
                                    <div class="author-box">
                                        <div class="author-info">
                                            <div class="image"><img src="images/resource/client-thumb-1.jpg" alt=""></div>
                                            <div class="author-title">Isaac Samuel</div>
                                            <div class="designation">CEO & Founder <a href="#">Budget Fin</a></div>
                                            <div class="logo"><img src="images/clients/client-6.html" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <h4>It’s helped me so much. Now I can <br>really get around office.</h4>
                                        <div class="text">Goodsoul! is focused and disciplined in their approach with proven track record of delivering measurable change. Always we support them people.</div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                        </div>
                                        <div class="quote"><span class="flaticon-quote"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->



                </div>
            </div>
        </div>
    </div>
</section>





















<!-- Main Footer -->
<footer class="main-footer style-two" style="background:url(../assets/images/moncada/parallax3.jpg) no-repeat center;">
    <div class="auto-container">
        <div class="widget-wrapper">
            <div class="row">
                <!-- About Widget -->
                <div class="col-lg-3 col-md-6 about-widget-two footer-widget">
                    <!--                   <div class="logo"><a href="index-2.html"><img src="images/logomoncada.png" alt=""></a></div>-->
                    <h4 class="widget-title">Dirección</h4>
                    <div>
                        <ul>
                            <li><strong>Dirección:</strong> no.xx, calle hshjshg e/ as y kjh, Santiago de Cuba. Cuba</li>
                            <li><strong>Teléfono:</strong> <a href="tel:+21163648018">22 4655465465 </a></li>
                            <li><strong>Correo:</strong> <a href="mailto:support@goodsoul.com"> direccion@dominio.cu </a></li>
                        </ul>
                    </div>

                </div>
                <!-- Link Widget -->
                <div class="col-lg-6 about-widget-two footer-widget">
                    <h4 class="widget-title">Museo Histórico 26 de Julio</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                </div>
                <!-- Post Widget -->
                <!-- Location Widget -->
                <div class="col-lg-3 col-md-6 office-location-widget footer-widget">
                    <h4 class="widget-title">Síguenos en:</h4>
                    <ul class="social-icon-three">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-whatsapp"></span></a></li>
                        <li><a href="#"><span class="fa fa-paper-plane"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>




            </div>
            <div class="logo" align="center">
                <a (click)="refresh()" href=""><img src="../assets/images/logomoncada.png" alt=""></a>
            </div>

        </div>
        <div class="footer-bottom-two">



            <div class="copy-right-text">
                <p>Museo Histórico 26 de Julio. Santiago de Cuba.</p>
            </div>
        </div>
    </div>
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target style-two" data-target="html"><span class="icon flaticon-next"></span></div>
</footer>

<!--Scroll to top-->
<!--  <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-arrow"></span></div>-->