<!-- cabecera pagina -->
<section class="section section-height-3 border-0 m-0" style="background-image:url(assets/img/moncada/banner/bannerhistoria2.jpg)">
    <div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
        <div class="row justify-content-end pt-1 mt-lg-5">

            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 style="color:#FFFBFB;" class="text-uppercase"><strong>Cursos y talleres</strong></h1>
            </div>
        </div>
    </div>
</section>


<!-- Start about Area -->
<section class="section-gap info-area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h2 class="text-color-dark font-weight-extra-bold text-6 negative-ls-1 line-height-3 mb-0">Grupo de cursos y talleres</h2>
                    <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing eli blandit massa im. Nullam id varius nunc. </p>
                </div>
            </div>
        </div>
        <div class="single-info row mt-40">
            <div class="col-lg-6 col-md-12 mt-80 text-center no-padding info-left">
                <div class="info-thumb3">
                    <img src="assets/img/moncada/profesores.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">¿Quiénes somos? </h2>
                    <p class="text-4 line-height-9 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing eli blandit massa im. Nullam id varius nunc. Vivamus bibendum mex, et faucibus lacus venena bibendum mex, et faucibus lacus.</p>
                    <p class="text-4 line-height-9 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing eli blandit massa im. Nullam id varius nunc. Vivamus bibendum mex, et faucibus lacus venena bibendum mex, et faucibus lacus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->

<!-- eventos recientes -->
<section class="section section-height-1 bg-light border-0 m-0">

</section>

<!--================ Start About Area =================-->
<section class="call-to-action call-to-action-primary py-5 mt-5 appear-animation" data-appear-animation="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="call-to-action-content appear-animation" data-appear-animation="fadeInUpShorter">
                    <h2 class="text-10 text-color-light mb-2">Cursos y talleres</h2>
                    <p class="font-weight-light text-5 opacity-7 mb-0">Participe, conozca más sobre.........Lorem ipsum dolor sit amet, consectetur adipiscing eli blandit massa im. Nullam id varius nunc. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ End About Area =================-->

<!--================ seccion cursos =================-->


<section style="padding-top: 20px;">

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="100">
                <h2 class="text-color-dark font-weight-normal text-6 mb-0"><strong class="font-weight-extra-bold">Nuevos cursos a desarrollarse en el museo</strong></h2>
                <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <div class="row m0">
            <div class="col-lg-3 p0">

                <img src="assets/img/moncada/noticias/noticias/a.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />

            </div>
            <div class="col-lg-3 p0">

                <div class="p-3">
                    <h4 class="mb-3">Nombre del curso o taller</h4>
                    <span class="text-color-light p-1 bg-secondary"><strong>Fecha del curso:</strong> Enero 10, 2021 </span>
                    <p class="mb-0">Breve descripción del mismo ...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>

                    <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                </div>


            </div>
            <div class="col-lg-3 p0">

                <img src="assets/img/moncada/noticias/noticias/a.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />

            </div>
            <div class="col-lg-3 p0">

                <div class="p-3">
                    <h4 class="mb-3">Nombre del curso o taller</h4>
                    <span class="text-color-light p-1 bg-secondary"><strong>Fecha del curso:</strong> Enero 10, 2021 </span>
                    <p class="mb-0">Breve descripción del mismo ...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>

                    <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                </div>

            </div>
            <div class="col-lg-3 p0">

                <div class="p-3">
                    <h4 class="mb-3">Nombre del curso o taller</h4>
                    <span class="text-color-light p-1 bg-secondary"><strong>Fecha del curso:</strong> Enero 10, 2021 </span>
                    <p class="mb-0">Breve descripción del mismo ...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>

                    <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                </div>


            </div>
            <div class="col-lg-3 p0">

                <img src="assets/img/moncada/noticias/noticias/a.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />


            </div>
            <div class="col-lg-3 p0">

                <div class="p-3">
                    <h4 class="mb-3">Nombre del curso o taller</h4>
                    <span class="text-color-light p-1 bg-secondary"><strong>Fecha del curso:</strong> Enero 10, 2021 </span>
                    <p class="mb-0">Breve descripción del mismo ...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>

                    <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                </div>

            </div>
            <div class="col-lg-3 p0">

                <img src="assets/img/moncada/noticias/noticias/a.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />

            </div>
        </div>
    </div>

</section>

<!-- cursos que abriran reciente -->

<section class="section bg-color-light border-0 pb-0 m-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="100">
                <h2 class="text-color-dark font-weight-normal text-6 mb-0"><strong class="font-weight-extra-bold">Próximos cursos o talleres a desarrollarse en el museo</strong></h2>
                <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <div class="row mb-5 pb-3">

            <div class="col-md-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">

                <div class="card">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <img src="assets/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Nombre del curso o taller</h4>
                                <p class="card-text mb-2">Breve descripción Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">

                <div class="card">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <img src="assets/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Nombre del curso o taller</h4>
                                <p class="card-text mb-2">Breve descripción Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5 pb-3">

            <div class="col-md-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">

                <div class="card">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <img src="assets/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Nombre del curso o taller</h4>
                                <p class="card-text mb-2">Breve descripción Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">

                <div class="card">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <img src="assets/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Nombre del curso o taller</h4>
                                <p class="card-text mb-2">Breve descripción Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="#" class="btn btn-xs btn-light text-1 text-uppercase">leer..</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--fin cursos que abriran reciente -->

<!-- Programacion de eventos -->
<!-- seccion resumen otros eventos -->
<!-- fin seccion resumen otros eventos -->
<!-- Galería de videos de los eventos -->
<!-- End:Galería de videos de los eventos -->

<!-- Galería de imágenes de las actividades -->

<!-- / -->


<!-- seccion contacto-->