<!-- botones flotantes para redes sociales -->
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="assets/img/facebook.png" width="32" height="32">
            <p><a href="#" target="_blank">Únete a nosotros</a></p>
        </li>
        <li>
            <img src="assets/img/twitter.png" width="32" height="32">
            <p><a href="#" target="_blank">Únete a nosotros</a></p>
        </li>
        <li>
            <img src="assets/img/linkeding.png" width="32" height="32">
            <p><a href="#" target="_blank">Únete a nosotros</a></p>
        </li>
        <li>
            <img src="assets/img/youtube.png" width="32" height="32">
            <p><a href="#" target="_blank">Únete a nosotros</a></p>
        </li>

    </ul>
</div>
<!-- cabecera pagina -->
<section class="section section-height-3 border-0 m-0" style="background-image:url(assets/img/moncada/banner/bannerhistoria2.jpg)">
    <div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
        <div class="row justify-content-end pt-1 mt-lg-5">

            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 style="color:#FFFBFB;" class="text-uppercase"><strong>Visitas guiadas</strong></h1>
            </div>
        </div>
    </div>
</section>

<!-- detalle de la informacion -->

<!--	<section class="section section-height-3 border-0 m-0"> -->



<div class="container container-xl-custom">

    <div class="row mt-5 pt-3 mb-5">

        <div class="col-lg-8">

            <h2 class="text-6 line-height-3 mb-3">Visitas guiadas</h2>
            <p>Explora el museo desde la mano de un guía para conocer todo sobre la historia...................Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla
                nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.</p>

            <h2 class="text-6 line-height-3 mb-3">La entrada al museo</h2>
            <p>La visita tendrá un costo de $$$ por adultos y $$$ por niños..................Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

            <h2 class="text-6 line-height-3 mb-3">Qué conocerá de nuetro museo?</h2>

            <div class="row align-items-center text-center text-md-start">
                <div class="col-md-6 mb-5 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                    <h4 style="color:#ab0903;">Recorrido por las diferentes salas
                    </h4>
                    <p>..Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                    </p>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                    <div class="owl-carousel owl-theme nav-style-1 stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'margin': 25, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40}">
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/salas/expt.jpg" alt="" />
                        </div>
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/salas/sala1b.jpg" alt="" />
                        </div>
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/salas/sala2b.jpg" alt="" />
                        </div>
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/salas/sala3b.jpg" alt="" />
                        </div>
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/salas/sala4b.jpg" alt="" />
                        </div>


                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/gallery/gallery-7.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-items-center text-center text-md-start">
                <div class="col-md-6 col-lg-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                    <div class="owl-carousel owl-theme nav-style-1 stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'margin': 25, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40}">
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/muestra/muestra.jpg" alt="" />
                        </div>
                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/moncada/muestra/muestra2.jpg" alt="" />
                        </div>


                        <div class="p-4">
                            <img class="img-fluid box-shadow-2 mb-3" src="assets/img/gallery/gallery-7.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                    <h4 style="color:#ab0903;">Muestra de objetos </h4>
                    <p> ...Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
            </div>




            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare
                vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac
                ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In
                eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque
                sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus
                ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius
                diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus
                ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius
                diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>


        </div>



        <div class="col-lg-4 position-relative">
            <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">


                <h5 class="font-weight-semi-bold">Para más información</h5>
                <p>Puede contactarnos a traves del correo haciendo uso del formulario. </p>

                <form class="contact-form" action="php/contact-form.php" method="POST">
                    <div class="contact-form-success alert alert-success d-none mt-4">
                        <strong>Success!</strong> Your message has been sent to us.
                    </div>

                    <div class="contact-form-error alert alert-danger d-none mt-4">
                        <strong>Error!</strong> There was an error sending your message.
                        <span class="mail-error-message text-1 d-block"></span>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Nombre y apellido</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Correo</label>
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class="form-label mb-1 text-2">Asunto</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control text-3 h-auto py-2" name="subject" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class="form-label mb-1 text-2">Mensaje</label>
                            <textarea maxlength="5000" data-msg-required="Entrar el mensaje." rows="8" class="form-control text-3 h-auto py-2" name="message" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <input type="submit" value="Enviar" class="btn btn-outline btn-segundo" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>


            </aside>
        </div>

    </div>

</div>


<!--	</section> -->
<div class="row">
    <div class="col">
        <hr class="my-0">
    </div>
</div>
<!-- detalle de la informacion -->
<div class="container">
    <div class="row">
        <div class="col pt-3">

            <h3 class="text-color-quaternary font-weight-bold text-capitalize mb-2">Nos encontramos:</h3>
            <p class="mb-4">También nos pueden contactar a través de nuestros teléfonos. ....Sed imperdiet libero id nisi euismod, sed porta est consectetur..</p>

            <div class="row text-center pb-3 pt-4">
                <div class="col-lg-3 col-md-6 pb-4 pb-lg-0">
                    <img width="30" src="assets/img/moncada/icon-location.svg" alt="" />
                    <h5 class="text-3 m-0 pt-4 font-weight-bold">Dirección:</h5>
                    <p class="m-0">Calle xxx No, e/xxx y jjj, Santiago de Cuba, Cuba</p>
                </div>
                <div class="col-lg-3 col-md-6 pb-4 pb-lg-0">
                    <img width="30" src="assets/img/moncada/icon-phone.svg" alt="" />
                    <h5 class="text-3 m-0 pt-4 font-weight-bold">Teléfono:</h5>
                    <p class="m-0">(53) 22 456789</p>
                </div>
                <div class="col-lg-3 col-md-6 pb-4 pb-md-0">
                    <img width="30" src="assets/img/moncada/icon-envelope.svg" alt="" />
                    <h5 class="text-3 m-0 pt-4 font-weight-bold">correo:</h5>
                    <p class="m-0"><a href="mailto:mail@domain.com">mail@example.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <img width="30" src="assets/img/moncada/icon-calendar.svg" alt="" />
                    <h5 class="text-3 m-0 pt-4 font-weight-bold">Horario</h5>
                    <p class="m-0">Lunes - Sábado / 9:00AM - 5:00PM</p>
                    <p class="m-0">Domingo / 9:00AM - 1:00PM</p>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- seccion contacto-->