<!-- Hidden Sidebar -->
<section class="hidden-sidebar style-two close-sidebar">
    <div class="wrapper-box">
        <div class="hidden-sidebar-close"><span class="flaticon-cross"></span></div>
        <div class="logo">
            <a href="#"><img src="../assets/images/logo-3.png" alt=""></a>
        </div>
        <div class="content">
            <div class="about-widget-four sidebar-widget">
                <h3>To improve learning environment in primary schools</h3>
                <div class="text">We denounce with righteous indignation and dislike men who we are to beguiled demoralized by the charms of pleasures that moment, so we blinded desires, that they indignations.</div>
            </div>
            <!-- News Widget -->
            <div class="news-widget-two sidebar-widget">
                <div class="widget-title">News & Updates</div>
                <div class="post-wrapper">
                    <div class="image">
                        <a href="blog-details.html"><img src="../assets/images/resource/post-thumb-1.jpg" alt=""></a>
                    </div>
                    <div class="category">LIFE SAVING</div>
                    <h4><a href="blog-details.html">Goodsoul partners with lafarge on national literacy competition</a></h4>
                </div>
                <div class="post-wrapper">
                    <div class="image">
                        <a href="blog-details.html"><img src="../assets/images/resource/post-thumb-2.jpg" alt=""></a>
                    </div>
                    <div class="category">Education</div>
                    <h4><a href="blog-details.html">Goodsoul improves education infrastructure</a></h4>
                </div>
            </div>
            <!-- Newsletter Widget -->
            <div class="newsletter-widget-two">
                <div class="widget-title">Newsletter Subscription</div>
                <form action="#">
                    <input type="email" placeholder="Enter Email Address">
                    <button class="theme-btn btn-style-one w-100"><i class="flaticon-next"></i><span>Subscribe Us</span></button>
                </form>
            </div>
        </div>
    </div>
</section>