<!--p>tiendavirtual works!</p-->

<!-- Hidden Sidebar -->

<!-- Page Title -->
<section class="page-title" style="background-image:url(../assets/images/moncada/bannerhistoria.jpg)">
    <div class="auto-container">
        <div class="content-box">
            <h1>Tienda</h1>
        </div>
    </div>
</section>

<!-- inicio tienda -->
<section class="blog-section">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-12 content-column">
                <div class="sec-title text-center">
                    <h1>Categorías</h1>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- News Block One -->
            <div class="col-lg-3 col-md-6 news-block-one">
                <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                    <div class="image">
                        <a href="blog-details.html"><img src="../assets/images/moncada/prod/postales.jpg" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <h4 align="center"><a href="blog-details.html">Postales</a></h4>
                        <div class="author-info">
                            <div class="author-title"><a href="categoriatienda.html">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News Block One -->
            <div class="col-lg-3 col-md-6 news-block-one">
                <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                    <div class="image">
                        <a href="blog-details.html"><img src="../assets/images/moncada/prod/agenda.jpg" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <h4 align="center"><a href="blog-details.html">Bisuterías</a></h4>
                        <div class="author-info">
                            <div class="author-title"><a href="categoriatienda.html">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News Block One -->
            <div class="col-lg-3 col-md-6 news-block-one">
                <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                    <div class="image">
                        <a href="blog-details.html"><img src="../assets/images/moncada/prod/libro.jpg" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <h4 align="center"><a href="blog-details.html">Souvenir</a></h4>
                        <div class="author-info">
                            <div class="author-title"><a href="categoriatienda.html">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News Block One -->
            <div class="col-lg-3 col-md-6 news-block-one">
                <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                    <div class="image">
                        <a href="blog-details.html"><img src="../assets/images/moncada/prod/guia.jpg" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <h4 align="center"><a href="blog-details.html">Guías</a></h4>
                        <div class="author-info">
                            <div class="author-title"><a href="categoriatienda.html">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Section imagen prmocional -->
<!--     <div>
            
					<img class="img-responsive" src="images/moncada/b1b.jpg" alt="shop first image" />
            </div>-->
<!--  Section imagen prmocional Ends -->

<!-- Funfact Section -->
<section class="funfacts-section-two style-two" style="background-image: url(../assets/images/moncada/b1a.jpg);">
    <div class="auto-container">
        <div class="sec-title text-center light">
            <h1>Tienda virtual <br>Un espacio donde encontrarás................</h1>
        </div>
    </div>
</section>


<!-- lo m{as vendido -->
<section class="causes-section-seven">
    <div class="auto-container">
        <div class="sec-title text-center style-three">
            <h1>Lo más vendido</h1>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="cause-carousel-wrapper">
            <div class="three-item-carousel owl-theme owl-carousel owl-nav-none owl-dot-style-one">
                <!-- prod1 -->
                <div class="single-product-item text-center wow fadeInUp" data-wow-delay="300ms">
                    <div class="img-holder">
                        <img src="../assets/images/moncada/prod/guia.jpg" alt="Guía turismo">
                    </div>
                    <div class="title-holder text-center">
                        <div class="static-content">
                            <h3 class="title text-center"><a href="detalle-compra.html">Guía del viajero</a></h3>
                            <span>$74.00</span>
                        </div>
                        <div class="overlay-content">
                            <ul class="clearfix">
                                <li>
                                    <a href="detalle-compra.html"><span class="fa fa-shopping-cart"></span>
                                                        <div class="toltip-content">
                                                            <p>Adicionar al carrito</p>
                                                        </div>
                                                    </a>
                                </li>
                                <li>
                                    <a href="#"><span class="flaticon-heart-1"></span>
                                                        <div class="toltip-content">
                                                            <p>Añadir a lista de deseo</p>
                                                        </div>
                                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="theme-btn donate-box-btn"><span class="flaticon-eye"></span>
                                                        <div class="toltip-content">
                                                            <p>Ver producto</p>
                                                        </div>
                                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- prod2 -->
                <div class="single-product-item text-center wow fadeInUp" data-wow-delay="300ms">
                    <div class="img-holder">
                        <img src="../assets/images/moncada/prod/agenda.jpg" alt="Agenda">
                    </div>
                    <div class="title-holder text-center">
                        <div class="static-content">
                            <h3 class="title text-center"><a href="detalle-compra.html">Agenda</a></h3>
                            <span>$120.00</span>
                        </div>
                        <div class="overlay-content">
                            <ul class="clearfix">
                                <li>
                                    <a href="detalle-compra.html"><span class="fa fa-shopping-cart"></span>
                                                        <div class="toltip-content">
                                                            <p>Adicionar al carrito</p>
                                                        </div>
                                                    </a>
                                </li>
                                <li>
                                    <a href="#"><span class="flaticon-heart-1"></span>
                                                        <div class="toltip-content">
                                                            <p>Añadir a lista de deseo</p>
                                                        </div>
                                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="theme-btn donate-box-btn"><span class="flaticon-eye"></span>
                                                        <div class="toltip-content">
                                                            <p>Ver producto</p>
                                                        </div>
                                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- prod3 -->
                <div class="single-product-item text-center wow fadeInUp" data-wow-delay="300ms">
                    <div class="img-holder">
                        <img src="../assets/images/moncada/prod/libro.jpg" alt="Libro">
                    </div>
                    <div class="title-holder text-center">
                        <div class="static-content">
                            <h3 class="title text-center"><a href="detalle-compra.html">Libro...</a></h3>
                            <span>$152.00</span>
                        </div>
                        <div class="overlay-content">
                            <ul class="clearfix">
                                <li>
                                    <a href="detalle-compra.html"><span class="fa fa-shopping-cart"></span>
                                                        <div class="toltip-content">
                                                            <p>Adicionar al carrito</p>
                                                        </div>
                                                    </a>
                                </li>
                                <li>
                                    <a href="#"><span class="flaticon-heart-1"></span>
                                                        <div class="toltip-content">
                                                            <p>Añadir a lista de deseo</p>
                                                        </div>
                                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="theme-btn donate-box-btn"><span class="flaticon-eye"></span>
                                                        <div class="toltip-content">
                                                            <p>Ver producto</p>
                                                        </div>
                                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Product section-->
<!--End Shop Section-->

<!-- Main Footer -->
<footer class="main-footer style-two" style="background:url(../assets/images/moncada/parallax3.jpg) no-repeat center;">
    <div class="auto-container">
        <div class="widget-wrapper">
            <div class="row">
                <!-- About Widget -->
                <div class="col-lg-3 col-md-6 about-widget-two footer-widget">
                    <!--                   <div class="logo"><a href="index-2.html"><img src="images/logomoncada.png" alt=""></a></div>-->
                    <h4 class="widget-title">Dirección</h4>
                    <div>
                        <ul>
                            <li><strong>Dirección:</strong> no.xx, calle hshjshg e/ as y kjh, Santiago de Cuba. Cuba</li>
                            <li><strong>Teléfono:</strong> <a href="tel:+21163648018">22 4655465465 </a></li>
                            <li><strong>Correo:</strong> <a href="mailto:support@goodsoul.com"> direccion@dominio.cu </a></li>
                        </ul>
                    </div>

                </div>
                <!-- Link Widget -->
                <div class="col-lg-6 about-widget-two footer-widget">
                    <h4 class="widget-title">Museo Histórico 26 de Julio</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                </div>
                <!-- Post Widget -->
                <!-- Location Widget -->
                <div class="col-lg-3 col-md-6 office-location-widget footer-widget">
                    <h4 class="widget-title">Síguenos en:</h4>
                    <ul class="social-icon-three">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-whatsapp"></span></a></li>
                        <li><a href="#"><span class="fa fa-paper-plane"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>




            </div>
            <div class="logo" align="center">
                <a (click)="refresh()" href=""><img src="../assets/images/logomoncada.png" alt=""></a>
            </div>

        </div>
        <div class="footer-bottom-two">



            <div class="copy-right-text">
                <p>Museo Histórico 26 de Julio. Santiago de Cuba.</p>
            </div>
        </div>
    </div>
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target style-two" data-target="html"><span class="icon flaticon-next"></span></div>
</footer>


<div id="donate-popup" class="donate-popup">

    <div class="popup-overlay"></div>

    <div class="donate-form-area">
        <div class="donate-form-wrapper">
            <div class="close-donate theme-btn"><span class="flaticon-close"></span></div>

            <!--detalle del producto-->
            <div class="single-shop-content">
                <div class="row">
                    <div class="col-lg-6 pr-lg-5">
                        <div class="single-product-image-holder">
                            <img src="../assets/images/moncada/prod/libro.jpg" alt="Libro">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content-box">
                            <h2>Libro título...</h2>
                            <div class="text">
                                <span class="price">Precio: $152.00</span>
                            </div>
                            <div class="text">
                                <p>Breve descripción del producto............</p>
                            </div>
                            <div class="qity">
                                <h5>Cantidad</h5>
                                <div class="quantity">
                                    <input class="quantity-spinner" type="text" value="2" name="quantity">
                                </div>
                                <div class="stock-available"><span>Existencia: </span> Agotado</div>
                            </div>
                            <div class="cart-btn">
                                <a href="shopping-cart.html" class="theme-btn btn-style-one donate-box-btn"><span>Añadir al carrito</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End detalle del producto-->








        </div>

    </div>
</div>