<!-- botones flotantes para redes sociales -->

<!-- aqui va el codigo de los botones flotantes -->
<div class="contenedor">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="http://www.facebook.com/" target="_blank" class="icon-social-facebook icons"></a>
        <a href="http://www.youtube.com/" target="_blank" class="icon-social-youtube icons"></a>
        <a href="http://www.instagram.com/" target="_blank" class="icon-social-instagram icons"></a>
        <a href="http://www.twitter.com/" target="_blank" class="icon-social-twitter icons"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="icon-options-vertical icons">

</label>
    </div>
</div>

<!-- cabecera pagina -->
<section class="section section-height-4 border-0 m-0 section-overlay-opacity section-overlay-opacity-scale-3" style="background-image:url(assets/img/moncada/banner/sala2.jpg)">
    <div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
        <div class="row justify-content-end pt-1 mt-lg-5">

        </div>
    </div>
</section>

<!-- intro de historia-->

<section class="section section-no-border pt-0 pb-5 m-0 callout-dark heading-title heading-arrow-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center offset-lg-1">
                <h3 class="mb-0">SALAS DEL MUSEO</h3>
            </div>
        </div>
    </div>
</section>



<section class="section border-0 callout-blanco heading-title heading-arrow3-bottom ">
    <div class="container margen-superior margen-inferior">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-left mb-4">
                <h5 class="mb-3">
                    {{paginis[6].nombreeventopro}}
                </h5>
                <h4 class="mb-3" style="color: #000;">
                    {{paginis[6].informacion}}
                </h4>
            </div>

            <div class="owl-carousel owl-theme nav-bottom" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">




                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="content-area">
                            <p>
                                {{paginis[6].detalle}}

                            </p>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="owl-carousel owl-theme nav-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'margin': 25, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala7/slider1.png" alt="" />
                                <p>
                                </p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala7/slider2.png" alt="" />
                                <p>

                                </p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala7/slider3.png" alt="" />
                                <p></p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala7/slider4.png" alt="" />
                                <p></p>

                            </div>
                            <!-- <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto1/plano_geneal_stgo_1938.png" alt="" />
                                <p>Plano de la ciudad de Santiago de Cuba, 1938. Dibujado a pluma por Manuel Marín. Al centro se destaca el cuartel Moncada. </p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto1/plano_geneal_stgo_1946.png" alt="" />
                                <p>Plano General de la ciudad de Santiago de Cuba, aparece el cuartel Moncada y el reparto militar donde residían oficial y alistado que trabajan en el Regimiento de la Guardia Rural no 1. Maceo ,1946. Elaborado por Luis Martínez
                                    Vidaud.
                                </p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto1/plano_geneal_stgo_1960.png" alt="" />
                                <p>Plano General de la ciudad de Santiago de Cuba, aparece el cuartel Moncada y el reparto militar donde residían oficial y alistado que trabajan en el Regimiento de la Guardia Rural no 1. Maceo ,1946. Elaborado por Luis Martínez
                                    Vidaud. </p>

                            </div> -->

                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-area">
                            <p>Terminada la campaña militar de Los Diez Años (1878), se elaboró un nuevo proyecto de construcción militar con un presupuesto ascendente a $ 158,300 aprobado en la Real Orden del 14 de marzo de 1879. Esta edificación se llamó
                                definitivamente Cuartel Reina Mercedes, en honor a la esposa del Rey de España, Alfonso XII. Para enaltecer una de las figuras más importantes de la gesta insurreccional y a propuesta del coronel Juan Vaillant y López del
                                Castillo, jefe del Regimiento Maceo, confirmada por la orden especial No. 56, del 24 de abril de 1909, el cuartel es nombrado Moncada, el 20 de mayo de 1909, en honor al “general de ébano”, José Guillermo Moncada Veranes,
                                quien sufrió prisión en el cuartel durante el siglo XIX. Se exhibe una réplica del sable utilizado por el insigne patriota ,durantes las guerras de independencia contra el colonialismo español.
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="owl-carousel owl-theme nav-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'margin': 25, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto2/Cuartel-Nuevo-Presidio.png" alt="" />
                                <p>Cuartel Nuevo Presidio, 1859.</p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto2/Cuartel-de-Concha--y-Reina-Mercedes.png" alt="" />
                                <p>Cuartel de Concha y Reina Mercedes, 1879.</p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto2/Cuartel-Reina-Mercedes.png" alt="" />
                                <p>Cuartel Reina Mercedes, 1890</p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto2/Tropas-Norteamericanas-en-el-Cuartel-Reina-Mercedes.png" alt="" />
                                <p>Tropas Norteamericanas en el Cuartel Reina Mercedes, 1898. </p>

                            </div>
                            <div>
                                <img class="img-fluid rounded-0 mb-4" src="assets/img/moncada/salas/sala2/pto2/Tropas-Norteamericanas-en-el-Cuartel-.png" alt="" />
                                <p>Tropas Norteamericanas en el Cuartel Reina Mercedes, 1898. </p>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class=" col-lg-6 ">
                        <div class="content-area">
                            <p>En horas del mediodía del sábado 11 de diciembre de 1937, un incendio de origen desconocido destruye parcialmente el cuartel. El 18 de diciembre de 1937 fue aprobado por el presidente de la República, Federico Laredo Bru, la
                                cifra de 100 000 pesos para la reconstrucción del cuartel Moncada. El 25 de febrero de 1944 se inauguró de forma oficial, por orden del dictador Fulgencio Batista, un edificio en forma de monobloque, bajo los códigos de
                                la arquitectura militar art decó. Desde el punto de vista estilístico, el inmueble constituye en la actualidad el conjunto más importante de la región oriental, dentro de la estética militar art decó.</p>
                        </div>


                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img class="img-fluid rounded-0" src="assets/img/moncada/salas/sala2/pto3/Incendio-en-el-Cuartel-Moncada.jpg" alt="" />
                            <p>Incendio en el Cuartel Moncada, 11 de diciembre de 1937. </p>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class=" col-lg-6 ">
                        <div class="content-area">
                            <p>En la sala del museo encontraremos una mesa táctil con cuatro estaciones, permite acceder a documentos valiosos asociados a los principales acontecimientos del cuartel, el facsímil del expediente carcelario de José Guillermo
                                Moncada y Antonio Guiteras Holmes. Se puede consultar además, con el uso de la tecnología: fotografías, planos y mapas creados por importantes cartógrafos de la ciudad, tales como el santiaguero Luis Martínez Vidaud y el
                                francés Luis Francisco Delmés. </p>
                        </div>


                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img class="img-fluid rounded-0" src="assets/img/moncada/salas/sala2/pto3/mesa.jpg" alt="" />
                            <p>Mesa tactil. </p>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>

</section>

<!-- fin seccion contacto -->


<!-- fin otra informacion de la sala-->

<!-- seccion galeria de imagenes-->

<!-- fin seccion galeria de imagenes-->


<!-- galeria de videos del moncada-->
<section class="callout-rojo3 heading-title heading-arrowb-bottom ">

    <div class="container ">

        <!-- seccion de la galeria de imagenes del moncada-->

        <div id="ourHistoryLightbox" class="mfp-hide">
            <div class="thumb-gallery">
                <div class="owl-carousel owl-theme manual thumb-gallery-detail" id="thumbGalleryDetail">
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala7/grande/01.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala7/grande/02.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala7/grande/03.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala7/grande/04.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block">
											<img alt="" src="assets/img/moncada/salas/sala2/grande/05-grande2.jpg" class="img-fluid">
										</span>
                    </div>
                </div>

                <div class="owl-carousel owl-theme manual thumb-gallery-thumbs show-thumbs mt" id="thumbGalleryThumbs">
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala7/peque/01.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala7/peque/02.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala7/peque/03.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala7/peque/04.jpg" class="img-fluid">
										</span>
                    </div>
                    <div>
                        <span class="img-thumbnail d-block cur-pointer">
											<img alt="" src="assets/img/moncada/salas/sala2/peque/05-peque.jpg" class="img-fluid">
										</span>
                    </div>
                </div>
            </div>
        </div>

        <section class="section bg-transparent border-0  p-relative overflow-hidden margen-superior">
            <div class="container pb-5 mb-3">
                <div class="row mb-2">
                    <div class="col text-left">
                        <h5 class="mb-2 ">Galería de imágenes de la sala</h5>
                        <p>Una visión de nuestra historia a través de las imágenes. .</p>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-sm-6 mb-4 col-lg-3">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala2/portada/01port.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3 mb-4">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala2/portada/02port.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala2/portada/03port.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="#ourHistoryLightbox">
                            <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
												<span class="thumb-info-wrapper">
													<img src="assets/img/moncada/salas/sala2/portada/04port.jpg" alt="" class="img-fluid">
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                            </span>
                            </span>
                            </span>
                        </a>

                    </div>

                </div>
            </div>
        </section>





    </div>

</section>


<!-- fin planta de la sala-->






<!--  paseo virtual -->

<section class="section bg-transparent border-0 margen-inferior margen-superior p-relative overflow-hidden">
    <div class="container ">
        <div class="row">
            <div class="col text-left">
                <h5>Paseo virtual</h5>
                <p>Seleccione una de las salas. No deje de vivir la experiencia de recorrer virtualmente nuestro museo. </p>
            </div>
        </div>
        <div class="row">

            <div class="image-hotspots">
                <img src="assets/img/moncada/salas/planosalas.jpg" class="img-fluid" />

                <a [routerLink]="['../', 'sala1']" style="left: 70%; top: 55%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-animation="false" data-bs-placement="top" data-bs-content="Sala1: &quot;Doctrinas del maestro&quot;"
                    tabindex="0">
                    <strong>1</strong>
                </a>

                <a [routerLink]="['../', 'sala2']" style="left: 55%; top: 55%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 2: &quot;La fortaleza militar&quot;"
                    tabindex="0">
                    <strong>2</strong>
                </a>

                <a [routerLink]="['../', 'sala3']" style="left: 38%; top: 55%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 3: &quot;Los preparativos del asalto&quot;"
                    tabindex="0">
                    <strong>3</strong>
                </a>

                <a [routerLink]="['../', 'sala4']" style="left: 23%; top: 59%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 4:&quot;El asalto;" tabindex="0">
                    <strong>4</strong>
                </a>
                <a [routerLink]="['../', 'sala5']" style="left: 42%; top: 76%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 5: &quot;La historia me absolverá&quot;"
                    tabindex="0">
                    <strong>5</strong>
                </a>

                <a [routerLink]="['../', 'sala6']" style="left: 58%; top: 76%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 6: &quot;Victoria de un ideal&quot;"
                    tabindex="0">
                    <strong>6</strong>
                </a>

                <a [routerLink]="['../', 'salaexpo']" style="left: 40%; top: 37%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 7: &quot;Las Ideas no se Matan&quot;"
                    tabindex="0">
                    <strong>7</strong>
                </a>
                <a [routerLink]="['../', 'sala7']" style="left: 12%; top: 68%;" class="image-hotspot image-hotspot-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Sala 8: &quot;La Repreción Batistiana&quot;"
                    tabindex="0">
                    <strong>8</strong>
                </a>

            </div>


        </div>





    </div>
</section>


<!-- fin paseo virtual -->