<footer id="footer" class="border-top-0">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                <h5 class="text-3 mb-3">ENLACES DE INTERÉS</h5>
                <ul class="list list-icons list-icons-sm mb-0">

                    <li> <a class="link-hover-style-1" target="_blank" [href]="urlcfcr">Centro Fidel Castro Ruz</a></li>

                    <li> <a class="link-hover-style-1" target="_blank" [href]="urlcnpc">Consejo Nacional Patrimonio Cultural</a></li>

                    <li> <a class="link-hover-style-1" target="_blank" [href]="urluhc">Unión de Historiadores de Cuba</a></li>


                    <li> <a class="link-hover-style-1" target="_blank" [href]="urlihc">Instituto de Historia de Cuba</a></li>

                    <!-- <li> <a class="link-hover-style-1" target="_blank" [href]="urluo">Universidad de Oriente</a></li> -->

                    <li> <a class="link-hover-style-1" target="_blank" [href]="urlpc">Portal Cubarte</a></li>

                    <li> <a class="link-hover-style-1" target="_blank" [href]="urlgsc">Portal Gobierno Santiago de Cuba </a></li>


                    <!-- <li> <a class="link-hover-style-1" target="_blank" [href]="urlohlh">Oficina del Historiador de La Habana</a></li> -->
                </ul>



            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2">
                <h5 class="text-3 mb-3">HORARIO</h5>
                <ul class="list list-icons list-icons">
                    <li class="text-color-light"> <i class="far fa-clock"></i>Lunes - Sábado:</li>
                    <li class="text-color-light">9:00 a 4:30 pm</li>
                    <li class="text-color-light"> <i class="far fa-clock"></i>Domingo: </li>
                    <li class="text-color-light">9:00 a 12:30 pm</li>

                </ul>

            </div>

            <div class="col-8 col-sm-3 col-md-3 col-lg-3">
                <h5 class="text-3">CONTACTO</h5>
                <ul class="list list-icons list-icons">
                    <li class="mb-1"><i class="far fa-dot-circle text-color-light"></i>
                        <p class="m-0 text-color-light">Calle Trinidad Esquina Moncada sin número, Santiago de Cuba, Cuba</p>
                    </li>
                    <li class="mb-1"><i class="fab fa-whatsapp text-color-light"></i>
                        <p class="m-0">
                            <a class="text-color-light">
                                (53) 22-661157                                                   
                          </a>
                        </p>
                    </li>
                    <li class="mb-1"><i class="far fa-envelope text-color-light"></i>
                        <p class="m-0"><a class="text-color-light" [href]="correo">{{usuarios[0]?.email}}</a></p>
                    </li>
                </ul>

                <div class="row pt-5">
                    <div class="col-sm-4">
                        <h5 class="text-3 mb-3">SÍGUENOS</h5>
                    </div>
                    <div class="col-sm-6">
                        <ul class="header-social-icons social-icons">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-2"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter text-2"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2"></i></a></li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-6 col-sm-3 col-md-3 col-lg-3">

                <div class="row counters counters-sm" style="margin-left: 10px;">
                    <h5 class="text-3 mb-3">VISITAS</h5>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="text-4 mt-1 text-color-light">Día</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="counter">
                                <!-- <p class="text-color-light">{{usuarios[0]?.dia}}</p> -->

                                <p class="text-color-light">{{visitasDiarias}}</p>

                                <!-- <button (click)="incrementarContador()">Incrementar Contador</button> -->


                                <!-- <p class="text-color-light" data-to="500">0</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="text-4 mt-1 text-color-light">Semana</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="counter">
                                <!-- <p class="text-color-light" data-to="40000">0</p> -->
                                <p class="text-color-light">{{visitasSemanales}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="text-4 mt-1 text-color-light">Mes</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="counter">
                                <p class="text-color-light">{{visitasMensuales}}</p>
                                <!-- <p class="text-color-light" data-to="178000">0</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="text-4 mt-1 text-color-light">Año</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="counter">
                                <p class="text-color-light">{{visitasAnuales}}</p>
                                <!-- <p class="text-color-light" data-to="3520000">0</p> -->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="footer-copyright" style="background-color:#cccccc;">
        <div class="bg-color-scale-overlay-wrapper">
            <div class="container py-2">
                <div class="row py-4 col text-center">
                    <div class="col-lg-6 mb-2 mb-lg-0" align="right" style="border-right: 2px solid #818181;">
                        <a (click)="refresh()" href="" class="logo pe-0 pe-lg-3">
                            <img alt="logo" src="assets/img/moncada/copy/logo.png" height="60px">
                        </a>
                    </div>
                    <div class="col-lg-6 mb-2 mb-lg-0" align="left">
                        <p style="color:#818181; margin-left: 25px;">© Copyright 2022.<br/> Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>